<section id="contact">
  <div class="wrapper">

    <div class="column-1">
      <%= image_tag "contact.png", alt: 'Contact Us' %>
    </div>

    <div class="column-2">
      <h1 class="heading">Contact us</h1>
      <p class="description">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours.</p>

      <form action="#">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="email" placeholder="Email Address">
        <input type="text" placeholder="Your Subject">
        <textarea name="" id=""rows="5" placeholder="How can we help?"></textarea>
        <button>
          Send Message
        </button>
      </form>
    </div>
  </div>
</section>
