<header>
  <div class="wrapper">
    <div class="brand">
      <%= image_tag "brand-logo.png", class: 'brand__logo', alt: 'Logo' %>
      <%= image_tag "brand-name.png", class: 'brand__name', alt: 'Name' %>
    </div>
    <nav>
      <ul class="list">
        <li class="list__item"><a href="#home" class="list__link list__link--active">Home</a></li>
        <li class="list__item"><a href="#about" class="list__link">About</a></li>
        <li class="list__item"><a href="#services" class="list__link">Services</a></li>
        <li class="list__item"><a href="#portfolio" class="list__link">Portfolio</a></li>
        <li class="list__item"><a href="#team" class="list__link">Team</a></li>
        <li class="list__item"><a href="#contact" class="list__link">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
