<section id="services">
  <div class="wrapper">
    <h1 class="heading">Our services</h1>
    <div class="description">
      <%= @service.description %>
    </div>

    <div class="services">
      <% @service.service_items.each do |service_item| %>
        <div class="service">
          <div class="service__icon">
            <%= image_tag url_for(service_item.icon), alt: service_item.title %>
          </div>
          <h2 class="service__title"><%= service_item.title %></h2>
          <div class="service__description"><%= service_item.description %></div>
        </div>
      <% end %>
    </div>
  </div>
</section>
