<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Name: <%= "#{@first_name} #{@last_name}" %></h5>
    <p>
      Email Address: <%= @email_address %>
    </p>
    <p>
      Message: <%= @message %>
    </p>
  </body>
</html>
